{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hello, {{ current_user.username }}!</h1>
    <div><p><b>Welcome to your CRM!</b></p></div>
    <div>
        <iframe src="https://quotefancy.com/media/wallpaper/1600x900/18846-Frank-Ocean-Quote-Work-hard-in-silence-let-your-success-be-your.jpg" width="1024" height="768" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen alt="Success"></iframe>
    </div>
    
{% endblock %}