{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <center><h1>Hello, {{ current_user.username }}!</h1></center>

    
    <div><p><b><center>Here are your current leads:</center></b></p></div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>First and Last Name</th>
                    <th>Cell Phone Number</th>
                    <th>Address</th>
                </tr>
            </thead>
            {% for everyone in all_people %}
            <TR>
                <TD class="active"><a href="{{ url_for('view_people', people_id=everyone.id) }}">{{ everyone.first_name }}  {{ everyone.last_name }}</a></TD>
                <TD class="active">{{ everyone.phone_cell }}</TD>
                {% if everyone.house_number %}
                <TD class="active">{{ everyone.street_number }} {{ everyone.street_name }} {{ everyone.city_name }}, {{ everyone.state_name }} {{ everyone.zip_code }}</TD>
                {% endif %}
            </TR>
            {% endfor %}
        </table>
    </div>
    <center><div class="btn-group">
        <a href="{{ url_for('add_people') }}" class="btn btn-info">Add Person</a>
    </center></div>
{% endblock %}