{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <center><h1>Client notes for {{ select_people.first_name }} {{ select_people.last_name }}.: /h1></center>

    <br>
    <br>

    <center><a href="{{ url_for('view_people', people_id=select_people.id ) }}" class="btn btn-info">Back to Client Profile</a></center>


    <center>
    <br>
    <br>
    <div>
        <h3></h3>
        {% if viewpnotes %}
            {% for all_notes in viewpnotes %}
                <TR>
                    <div>
                        <TD class="active">{{ all_notes.timestamp }}</TD>
                        <TD class=>   :  </TD>
                        <TD class="active"><b>{{ all_notes.pnotes }}</b></TD>
                    </div>
                </TR>
            {% endfor %}
        {% endif %}
        </br>
        <div class="row">
            <div class="col">
                {{ wtf.quick_form(notes_form) }}
            </div>
        </div>
    </div>
    </center>
    
{% endblock %}