{% block app_content %}

    <center><h1>Realty Redefined Listing Agreement</h1></center>
    <div>In consideration of the convenants herein contained, <u>{{ fname }} {{ lname }}</u>, Sole Property Owner(s) (hereinafter called <b>"OWNER"</b>) and <u>Realty Redefined</u> Real Estate Company (hereinafter called <b>"BROKER"</b> ) agree as follows: </div>
    <br>
    <div>For the period of time beginning on <b><u>{{ month }} / {{ day }} / {{ year }}</u></b>, and ending at midnight on <b><u>{{ month }} / {{ day }} / {{ endyear }}</u></b>, Owner hereby grants to Broker the sole and exclusive right to sell the real property known as:</div>
    <br>
    <div><b> Address: {{ people_house_number }} {{ people_street_name }}, {{ people_city_name }}, {{ people_state_name }} {{ people_zip_code }} </b></div>
    <br>
    The real estate described herein includes all improvements, fixtures, appurtenances, in the current standing condition, otherwise referred to "as is".

{% endblock %}