{% block app_content %}

    <center><h1>Realty Redefined Listing Agreement</h1></center>
    <div>In consideration of the convenants herein contained, <u>{{ fname }} {{ lname }}</u>, Sole Property Owner(s) (hereinafter called <b>"OWNER"</b>) and <u>Realty Redefined</u> Real Estate Company (hereinafter called <b>"BROKER"</b> ) agree as follows: </div>
    <br>
    <div>For the period of time beginning on <b><u>{{ month }} / {{ day }} / {{ year }}</u></b>, and ending at midnight on <b><u>{{ month }} / {{ day }} / {{ endyear }}</u></b>, Owner hereby grants to Broker the sole and exclusive right to sell the real property known as:</div>
    <br>
    <div><b> Address: <u>{{ people_house_number }} {{ people_street_name }}, {{ people_city_name }}, {{ people_state_name }} {{ people_zip_code }}</u> </b></div>
    <br>
    The real estate described herein includes all improvements, fixtures, appurtenances, in the current standing condition, otherwise referred to "as is".
    <br>
    <br>
    <div>Seller  shall  provide  purchaser  prior  to  the  closing  and  promptly  after  the  acceptance  of  this  offer,  at  Seller’s  
expense and at Seller’s option an abstra
ct of title to the proper
ty brought down to date or 
an owner’s policy of title 
insurance in an amount equal to the purch
ase price, said abstract of policy to 
show marketable or insurable title to 
the real estate in the name of Seller subject only to easem
ents, zoning and restrictions of record and free and clear 
of  all  other  liens  and  encumbrances  excep
t  as  stated  in  this  offer.    If  the  
abstract  or  title  po
licy  fails  to  show  
marketable or insurable title in Seller a reasonable time sh
all be permitted to cure or correct defects.  Seller shall 
convey title to Purchaser at the time of closing by a good a
nd sufficient general warranty deed free and clear of all 
liens  and  encumbrances  except  as  ot
herwise  provided  in  this  offer  and  
subject  to  easements,  zoning  and  
restrictions of record. 
</div>
<br>
<br>
<center>Price: <u><b>{{ people_price }}</b></u></center>
<br>
<br>
<br>
__________________________________________________________
<br>
Client Signature and Date

<br>
<br>
__________________________________________________________
<br>
Agent Signature and Date
{% endblock %}