{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hello, {{ current_user.username }}!</h1>
    
    <button type="button" class="btn btn-info"><a href="{{ url_for('add_prospect') }}">Add Prospect</a></button>
    
    <div><p><b>Here are your current prospects:</b></p></div>
    {% for everyone in all_prospects %}
    <div><p>First Name: {{ everyone.first_name }}</p></div>
    <div><p>Last Name: {{ everyone.last_name }}</p></div>
    <div><p>Cell Number: {{ everyone.phone_cell }}</p></div>
    {% endfor %}

{% endblock %}