{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hello, {{ current_user.username }}!</h1>
    <div class="btn-group">
        <button type="button" class="btn btn-info"><a href="{{ url_for('add_people') }}">Add Person</a></button>
    </div>
    
    <div><p><b>Here are your current Seller Clients:</b></p></div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>First and Last Name</th>
                    <th>Cell Phone Number</th>
                    <th>Address</th>
                </tr>
            </thead>
            {% for everyone in sellerclients %}
            <TR>
                <TD class="active"><a href="{{ url_for('view_people', people_id=everyone.id) }}">{{ everyone.first_name }}  {{ everyone.last_name }}</a></TD>
                <TD class="active">{{ everyone.phone_cell }}</TD>
            </TR>
            {% endfor %}
        </table>
    </div>
{% endblock %}
